#####################################################################
#   Bed Heater
#####################################################################

######
# BED Connector
###############
[heater_bed]
heater_pin: PC9
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PC4
min_temp: 0
max_temp: 130
